SetEnv HTTP_SERVER_NAME "localhost"
SetEnv HTTP_USERNAME "brightmatter_ro"
SetEnv HTTP_PASSWORD ";nc*uD6nlIJG"
SetEnv HTTP_DB_NAME "BRIGHTMATTER"
SetEnv HTTP_GA_CODE "UA-140140754-1"
SetEnv SERVER_ADMIN admin@brightmatter.tools
RewriteEngine on
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>
# 1 YEAR
ExpiresActive On
<FilesMatch "\.(otf|ico|pdf|flv)$">
Header set Cache-Control "max-age=29030400, public"
ExpiresDefault "access plus 1 years"
Header unset Last-Modified
Header unset ETag
SetOutputFilter DEFLATE
</FilesMatch>
# 1 MONTHS
<FilesMatch "\.(jpg|jpeg|png|gif|swf|svg)$">
Header set Cache-Control "max-age=2419200, public"
ExpiresDefault "access plus 1 month"
SetOutputFilter DEFLATE
</FilesMatch>
# 7 days 1 hour
<FilesMatch "\.(xml|txt|css|js)$">
Header set Cache-Control "max-age=608400, public"
ExpiresDefault "access plus 1 week"
SetOutputFilter DEFLATE
</FilesMatch>
# 30 MIN
<FilesMatch "\.(phtml|html|htm|php)$">
Header set Content-Security-Policy "default-src 'self'; font-src 'self' data:; style-src 'self' 'unsafe-inline' data:; img-src 'self' data:; script-src 'self' 'unsafe-inline' www.google-analytics.com www.googletagmanager.com; connect-src 'self' api.pwnedpasswords.com www.google-analytics.com;"
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options nosniff
Header always set Referrer-Policy "same-origin"
Header set X-Frame-Options "sameorigin"
Header set Feature-Policy: "geolocation none"
SetOutputFilter DEFLATE
</FilesMatch>
ErrorDocument 404 http://brightmatter.tools/404.shtml
Options All -Indexes
Options +ExecCGI +FollowSymlinks -MultiViews
AddDefaultCharset UTF-8
ServerSignature Off
AddHandler fcgid-script .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php8 .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php8 .phtml
FCGIWrapper /usr/local/cpanel/cgi-sys/php8 .php
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]