/* Local overrides for message component */

.message-input {
  width: 20em;
}

.output-display {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  white-space: pre-wrap;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  font-size: 13px;
  text-align-last: left;
}

.height-500 {
  height: 500px;
}

.width-full {
  width: 100%;
}
