<div>
	<span>Username:</span><span>GLaDOS&#64;brightmatter.tools</span>
</div>
<div>
	<span>Password:</span><span>ABCDGH</span>
</div>
<div class="login-container">
  <div class="login-form">
    <h2 class="free-size">Login</h2>
    <input type="hidden" [(ngModel)]="pepper" name="pepper">
    @if (salt) {
      <input type="hidden" [(ngModel)]="salt" name="salt">
    }
    @if (showPasswordField) {
      <input type="hidden" [(ngModel)]="username" name="username">
    }
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        [disabled]="showPasswordField"
        (keyup.enter)="onFirstNext()"
        class="form-control non-standard-input">
    </div>
    @if (showPasswordField) {
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          #passwordInput
          [(ngModel)]="password"
          name="password"
          (keyup.enter)="onSecondNext()"
          class="form-control non-standard-input">
      </div>
    }
    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }
    @if (!showPasswordField) {
			<div class="form-group">
				<button
					type="button"
					class="btn btn-primary non-standard-button-action"
					(click)="onFirstNext()">
					Next
				</button>
			</div>
    }
    @if (showPasswordField) {
			<div class="form-group">
				<div class="button-row">
					<button
						type="button"
						class="btn btn-primary non-standard-button-action"
						(click)="onSecondNext()">
						Login
					</button>
					<button
						type="button"
						class="btn btn-reset non-standard-button-action"
						(click)="reset()">
						Reset
					</button>
				</div>
			</div>
    }
  </div>
</div>
<a href="https://wellnessandwildflowers.com" target="_blank" class="free-size sister-link" aria-label="External link is endorsed by me for hand crafted herbal remedies" rel="noopener">Wellness and Wildflowers</a>
